@charset "utf-8";
@function rem( $px) {
    @return $px*(1/100)*1rem;
}
@import "_base.scss";

h3{
  font-size: rem(30);
  font-weight: bold;
}
.nav{
    width:100%;
    margin:0 auto;
    height: rem(100);
    font-size: rem(36);
    color: #000;
    background-color: #fff;
    padding:0 0 rem(20) 0;
}

.nav>div{
    width: rem(60);
    float: left;
    height: rem(100);
    padding: 0 rem(8);
}

.img{
    width:100%;
    height: rem(100);
    text-align: center;
    margin:0 auto;
    padding:0;
}
.img img{
    float: left;
    width:  rem(180);
    height: rem(150);
    margin-right:rem(10);
}

.ddRem , .dd{
    width:100%;
    margin:0 auto;
    height: rem(40);
    line-height: rem(40);
}

.ddRem span{
    float: left;
    width:rem(6);
    height: rem(6);
    line-height: rem(6);
    padding: 0;
    margin: 0 rem(6) 0 0;
    border-radius: 80%;
    background-color: red;
    text-indent: -9999px;
}

/*-----------------------------------*/

.dd {

}

.dd span{
    float: left;
    width:6px;
    height: 6px;
    line-height:6px;
    padding:0;
    margin: 0 6px 0 0;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: red;
}